p {
  color:blue;
}
a {
  color:blue;
}
img {
  padding: 180px 0 100px 0;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Zz2ZMbHzZf0eTvR1Ob03IwHaEL%26pid%3DApi&f=1);
  background-size: cover;
  color: white;
  text-align: center;
}
